html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #2F4778;
}
.title{
    display: flex;
    justify-content: center;
    color: beige;
    margin-bottom: 7%;
    font-size: 20px;
}
input{
    height: 30px;
    width: 50%;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.calculator{
    width: 75%;
    margin: 0 auto;
}
.calculator-input{
    display: flex;
    justify-content: center;
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 50%;
}
button{
    height: 50%;
    border-color: #fff;
    border-radius: 7px;
    color: #fff;
    background: #2F4778;
}
button:hover{
    border-color:darkgoldenrod;
    color: darkgoldenrod;
}
.p-total-value{
    color: #fff;
    font-size: larger;
}
.clear{
    color: #fff;
    font-size: small;
}
.clear:hover{
    color: darkgoldenrod;
    text-decoration: underline;
}
footer{
    color: darkgray;
    margin-top: 4%;
    height: 10%;
    display: flex;
    justify-content: center;
}

    
